<div class="row">
  <div class="sec-row-five">
    <!-- <div class="col-md-1 sec-margin"></div> -->
    <% officers.each do |key, officer| %>
    <div class="col-md-3">
      <div class="full-sec-profile" data-toggle="modal" data-target=<%=".#{key}"%>>
        <div class="profile-pic">
          <%= image_tag officer[:picture], class: "sec-profile" %>
        </div>
        <div class="sec-name">
          <h5><%= officer[:name] %></h5>
          <h6><%= officer[:title] %></h6>
        </div>
        <!-- Large modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->
        <div class=<%="modal fade #{key}"%> tabindex="-1" role="dialog" aria-labelledby="officerDescription">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <p><%= officer[:bio] %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!-- <div class="col-md-1 sec-margin"></div> -->
  </div>
</div>
