<h1> Contact Us </h1>
<h5> Have questions? Feel free to email any of the staff below. <h5>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-6">
    <h3 style="display: inline"> General Questions </h3>
  </div>
  <div class="col-md-6">
    <h3 style="text-align:right; display: inline"> Business </h3>
  </div>
</div>
<div class="row">
  <div class="contact-general">
      <div class="contact-varsha col-md-3">
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "varsha_welcome.jpg", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
        <h4 style="margin-bottom: -10px; font-weight: 600;"> Secretary</h4><h4 style="font-weight: 600;"> General </h4><h4></h4>
        <h5 style="margin-bottom: -10px;"> Varsha </h5><h5 style="margin-bottom: -10px;"> Venkata-</h5><h5>subramanian</h5>
        <%= link_to "sg@ucbmun.org", "mailto:sg@ucbmun.org" %>
      </div>
      </div>
      <div class="contact-raymond col-md-3" >
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "raymond_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
          <h4 style="margin-bottom: -10px; font-weight: 600;"> Deputy</h4><h4 style="margin-bottom: -10px; font-weight: 600;"> Secretary</h4><h4 style="font-weight: 600;"> General </h4>
          <h5 style="margin-bottom: -10px;"> Raymond</h5><h5> King </h5>
          <%= link_to "dsg@ucbmun.org", "mailto:dsg@ucbmun.org" %>
        </div>
      </div>
      <div class="contact-kevin col-md-3">
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "kevin_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
          <h4 style="margin-bottom: -10px; font-weight: 600;"> Director:</h4><h4 style="margin-bottom: -10px; font-weight: 600;"> Business</h4><h4 style="font-weight: 600;"> Relations </h4>
          <h5 style="margin-bottom: -10px;"> Kevin </h5><h5> Bai </h5>
        <%= link_to "dbr@ucbmun.org", "mailto:dbr@ucbmun.org" %>
      </div>
      </div>
      <div class="contact-hassan col-md-3" >
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "hassan_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
          <h4 style="margin-bottom: -10px; font-weight: 600;"> Director:</h4><h4 style="margin-bottom: -10px; font-weight: 600;"> Business</h4><h4 style="font-weight: 600;"> Relations </h4>
          <h5 style="margin-bottom: -10px;"> Hassan </h5><h5> Ayub </h5>
          <%= link_to "dbr@ucbmun.org", "mailto:dbr@ucbmun.org" %>
        </div>
      </div>
    </div>

</div>
<br></br>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-3">
    <h3 style="display: inline"> Website </h3>
  </div>
  <div class="col-md-9">
    <h3 style="text-align:right; display: inline"> Committees </h3>
  </div>
</div>
<div class="row">
  <div class="contact-general">
      <div class="contact-steven col-md-3">
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "steven_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
        <h4 style="margin-bottom: -10px; font-weight: 600;"> Director: </h4><h4 style="font-weight: 600;"> Technology </h4><h4></h4>
        <h5 style="margin-bottom: -10px;"> Steven </h5><h5> Chen</h5>
        <%= link_to "tech@ucbmun.org", "mailto:tech@ucbmun.org" %>
      </div>
      </div>
      <div class="contact-miriam col-md-3" >
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "miriam_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
          <h4 style="margin-bottom: -10px; font-weight: 600;"> USG:</h4><h4 style="margin-bottom: -10px; font-weight: 600;"> Specialized</h4><h4 style="font-weight: 600;"> Bodies </h4>
          <h5 style="margin-bottom: -10px;"> Miriam </h5><h5> Arghavani </h5>
          <%= link_to "usg-sbga@ucbmun.org", "mailto:usg-sbga@ucbmun.org" %>
        </div>
      </div>
      <div class="contact-roya col-md-3">
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "roya_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
          <h4 style="margin-bottom: -10px; font-weight: 600;"> USG:</h4><h4 style=" font-weight: 600;"> Crisis</h4><h4> </h4>
          <h5 style="margin-bottom: -10px;"> Roya </h5><h5> Azarkeyvan </h5>
        <%= link_to "usg-crisis@ucbmun.org", "mailto:usg-crisis@ucbmun.org" %>
      </div>
      </div>
      <div class="contact-patrick col-md-3" >
        <div class="contact-us-profile" style="margin-right: 15px;">
          <%= image_tag "patrick_contact.png", class: "contact-us-pic" %>
        </div>
        <div class="contact-description">
          <h4 style="margin-bottom: -10px; font-weight: 600;"> USG:</h4><h4 style="margin-bottom: -10px; font-weight: 600;"> Joint</h4><h4 style="font-weight: 600;"> Crisis </h4>
          <h5 style="margin-bottom: -10px;"> Patrick </h5><h5> Babajanian </h5>
          <%= link_to "usg-jcc@ucbmun.org", "mailto:usg-jcc@ucbmun.org" %>
        </div>
      </div>
    </div>

</div>
