<div id="fullpage">
  <div id="home" data-anchor="home" class="home-container section"  style="height:800px;background-image:url(http://www.stevenelleman.com/pw2-images/images/showcase/showcase_palacearts.jpg);">
    <div class="home-title">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}", style: "text-align: center;") %>
      <% end %>
    </div>
  </div>

  <div data-anchor="about" class="about-container section">
    <div class="slide">
      <div class="about-contents-container">
        <div class="about-banner">
          <div class="about-title">

          </div>
          <div style="height:30%;"></div>
          <div class="about-letter-gradient">
            <div style="width:100%;height: 150px;"></div>
            <div class="about-letter-text" style="margin-top: -30px; padding-bottom: 30px;">
            Dear Head Delegates and Advisors,
<br></br>
My name is Beckett Kelly and I am the Secretary-General for the UC Berkeley Model United Nations Conference in March 2017. UCBMUN is in our 21st year and we are proud to be one of the oldest Model UN programs in the country. Each year our conference brings hundreds of delegates from top universities across the nation and the world to San Francisco, California to debate sociopolitical issues that resonate across the globe.
<br></br>
This year, UCBMUN XXI will be hosted from <span style="color: orange;
  font-size: 1.2em;
  white-space: nowrap;
  display: inline;"> March 2nd to March 5th</span> at the <span style="color: orange;
      font-size: 1.2em;
      white-space: nowrap;
      display: inline;">Hilton, Financial District, San Francisco</span>. Delegates will participate in committees, utilizing months of research and preparation to develop resolutions for major geopolitical problems. Our diverse delegates come from various fields, colleges, and regions.
<br></br>
UCBMUN creates opportunities for potential leaders of the next generation to engage in multi-faceted dialogue, face personal growth, gain comprehensive perspectives on world issues, and learn about the trials and triumphs of international diplomacy, all in the hopes of creating a better of tomorrow.
<br></br>
Our conference draws highly motivated individuals that have already made impacts in their communities and will undoubtedly continue to do so in the future. We look forward to your joining us in this exciting journey and experience all that UCBMUN and San Francisco have to offer! If you have any questions or concerns, please don't hesitate to email me at sg@ucbmun.org.
<br></br>
Sincerely, Beckett Kelly

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="secretariat-header"></div>
      <div class="secretariat-contents-container">
        <% @secretariat.each do |key, officer| %>
          <%= render partial: "secretariat", locals: {officer: officer, key: key} %>
        <% end %>
        <!-- <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Allie Gordon
            </div>
            <div class="secretariat-rank">
              Deputy Secretary General
            </div>
          </div>
          <div class="secretariat-img allie-img" style="
          background-position: 50% 50%;
          -webkit-background-size: cover;">
            <div class="secretariat-contact" id="secretariat-contact">
              dsg@ucbmun.org
            </div>
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Steven Chen
            </div>
            <div class="secretariat-rank">
              Chief of Staff - Internal
            </div>
          </div>
          <div class="secretariat-img chen-img" style="
          background-position: 50% 35%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact secretariat-img chen-img" id="secretariat-contact" style="
          background-position: 50% 35%;
          -webkit-background-size: cover;
          color: white;">
            cos-internal@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Nickii Arcado
            </div>
            <div class="secretariat-rank">
              Chief of Staff - External
            </div>
          </div>
          <div class="secretariat-img nickii-img" style="
          background-position: 50% 45%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            cos-external@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Anisha Dangoria
            </div>
            <div class="secretariat-rank">
              USG JCC
            </div>
          </div>
          <div class="secretariat-img anisha-img" style="
          background-position: 50% 60%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            usg-jcc@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Patrick Babajanian
            </div>
            <div class="secretariat-rank">
              USG Crisis
            </div>
          </div>
          <div class="secretariat-img patrick-img" style="
          background-position: 50% 40%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            usg-crisis@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Alison Spencer
            </div>
            <div class="secretariat-rank">
              USG Crisis
            </div>
          </div>
          <div class="secretariat-img spencer-img" style="
          background-position: 50% 45%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            usg-crisis@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Keenu Malik
            </div>
            <div class="secretariat-rank">
              USG - Specialized Bodies
            </div>
          </div>
          <div class="secretariat-img keenu-img" style="
          background-position: 50% 45%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            usg-sbga@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Nik Mathur
            </div>
            <div class="secretariat-rank">
              Director of Programming
            </div>
          </div>
          <div class="secretariat-img nik-img" style="
          background-position: 50% 40%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            programming@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Ryan Dana
            </div>
            <div class="secretariat-rank">
              Director of Outreach
            </div>
          </div>
          <div class="secretariat-img ryan-img" style="
          background-position: 50% 30%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            outreach@ucbmun.org
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Yash Sanghrajka
            </div>
            <div class="secretariat-rank">
              Director of Business Relations
            </div>
          </div>
          <div class="secretariat-img nik-img" style="
          background-position: 50% 50%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
              dbr@ucbmun.org
          </div>
        </div> -->

        <!-- <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
            <div class="secretariat-name">
              Steven Elleman
            </div>
            <div class="secretariat-rank">
              Director of Technology
            </div>
          </div>
          <div class="secretariat-img elleman-img" style="
          background-position: 50% 50%;
          -webkit-background-size: cover;">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
            technology@ucbmun.org
            <br>
            www.stevenelleman.com
          </div>
        </div> -->
      </div>
    </div>
    <!--<div class="slide">
      <div class="secretariat-contents-container">
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
        <div class="secretariat-container" onClick="contactSecretariat($(this));">
          <div class="secretariat-info">
          </div>
          <div class="secretariat-img">
          </div>
          <div class="secretariat-contact" id="secretariat-contact">
          </div>
        </div>
      </div>
    </div>-->
    <!--<div class="slide"> Slide 3 </div>-->
  </div>

  <div data-anchor="committee" class="committee-container section">
    <div class="slide">
      <div class="secretariat-header"></div>
      <div class="secretariat-contents-container">
        <% @sb_styles.each_with_index do |(key, sb), index| %>
          <!-- <% if index % 3 == 0 %>
            <div class="sb-contents">
          <% end %> -->
          <%= render partial: "sb", locals: {committee: sb} %>
          <!-- <% if index % 3 == 2 || index == @sb_styles.length - 1 %>
            </div>
          <% end %> -->
        <% end %>
      </div>
    </div>
    <div class="slide">
      <div class="secretariat-header"></div>
      <div class="cc-contents-container">
        <% @cc_styles.each_with_index do |(key, cc), index| %>
          <!-- <% if [0, 4, 7].include?(index) %>
            <div class="cc-contents">
          <% end %> -->
          <%= render partial: "cc", locals: {committee: cc} %>
          <!-- <% if [3, 6, 10].include?(index) %>
            </div>
          <% end %> -->
        <% end %>
      </div>
    </div>
    <div class="slide">
      <div class="secretariat-header"></div>
      <div class="jcc-contents-container">
        <!-- <div class="jcc-contents"> -->
          <% @jcc_styles.each do |key, jcc| %>
            <%= render partial: "jcc", locals: {committee: jcc} %>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div data-anchor="info" class="section">
    <div class="info-contents-container">
      <div class="secretariat-header" style="background-color: white;"></div>
        <div class="info-contents">
          <div class="info-contents-section">
            <div class="info-container" id="schedule">
                <div class="info-title">
                  Schedule
                </div>
                <div class="schedule-contents" style="font-family: 'Raleway', sans-serif; padding-top: 10px;">
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="center-header schedule-header"> Thursday, March 2 </h4>
                      <%= render partial: "schedule", locals: {schedule_items: @thursday_schedule} %>
                      <br></br>
                    </div>
                    <div class="col-md-6">
                      <h4 class="center-header schedule-header"> Friday, March 3 </h4>
                      <%= render partial: "schedule", locals: {schedule_items: @friday_schedule} %>
                      <br></br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="center-header schedule-header"> Saturday, March 4 </h4>
                      <%= render partial: "schedule", locals: {schedule_items: @saturday_schedule} %>
                      <br></br>
                    </div>
                    <div class="col-md-6">
                      <h4 class="center-header schedule-header"> Sunday, March 5 </h4>
                      <%= render partial: "schedule", locals: {schedule_items: @sunday_schedule} %>
                    </div>
                  </div>
                </div>
            </div>
            <div class="info-container" id="fee">
                <div class="info-title">
                  Fees
                </div>
                <div class="fee-contents" style="font-family: 'Raleway', sans-serif; text-align: center;">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9" style="padding: 10px 0;">
                      <%= render "fees" %>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
            </div>
            <div class="info-container" id="registration">
                <div class="info-title">
                  Registration
                </div>
                <div class="registration-contents">
                  <%= render "registration" %>
                </div>
            </div>
            <!-- <div class="info-container" id="location">
                <div class="info-title">
                  Location Assignments
                </div>
                <div class="location-contents">
                  These are location assignments.
                </div>
            </div>
            <div class="info-container" id="resources">
                <div class="info-title">
                  Resources
                </div>
                <div class="resources-contents">
                  These are resources.
                </div>
            </div> -->
          </div>
      </div>
    </div>
  </div>

  <div data-anchor="attraction" class="attraction-container section">
    <div class="slide">
      <div class="map-contents-container" style="margin-top:110px;">
          <%= render "map" %>
      </div>
    </div>
    <div class="slide">
      <div class="instagram-contents-container">
        <div class="instagram-contents" id="insta-content">

        </div>
      </div>
    </div>
  </div>

</div>
