<h1> Current Sponsors </h1>
<br></br>
<div class="sponsor">
  <div class="sponsor-image">
  <%= image_tag "sponsors/magoosh.png", style: "height: 200px;" %>
  </div>
  <br></br>
  <div class="sponsor-description", style="padding-left: 20em;">
    <p> Magoosh is an online test prep company based in Berkeley, California that teaches students through video explanations and lessons. </p>
  </div>
</div>

<br></br>
<br></br>
<div class="sponsor">
  <div class="sponsor-image">
    <%= image_tag "sponsors/lh_o_g.png", style: "height: 200px;" %>
  </div>
  <br></br>
  <div class="sponsor-description", style="padding-left: 20em;">
    <p> Deutsche Lufthansa AG, commonly known as Lufthansa, is a German airline and, when combined with its subsidiaries, the largest airline in Europe, both in terms of passengers carried and fleet size. </p>
  </div>
</div>

<br></br>
<br></br>
<div class="sponsor">
  <div class="sponsor-image">
    <%= image_tag "sponsors/shu.jpg", style: "height: 200px;" %>
  </div>
  <br></br>
  <div class="sponsor-description", style="padding-left: 20em;">
    <p>One of the country’s leading Catholic universities, Seton Hall University has been developing students in mind, heart and spirit since 1856. Home to nearly 10,000 undergraduate and graduate students and offering more than 90 rigorous majors, Seton Hall’s academic excellence has been singled out for distinction by The Princeton Review, U.S. News & World Report and Bloomberg Businessweek. Seton Hall's 58-acre main campus is located in the quaint town of South Orange, New Jersey, only 14 miles from Manhattan. The University’s nationally-ranked School of Law is located in nearby Newark, New Jersey.</p>
  </div>
</div>

<br></br>
<br></br>



<div class="sponsor">
  <div class="sponsor-image">
    <%= image_tag "sponsors/fletcher.jpg", style: "height: 200px;" %>
  </div>
  <br></br>
  <div class="sponsor-description", style="padding-left: 20em;">
    <p>At The Fletcher School, for more than 80 years, our mission has been to “know the world.” We prepare our students to be practitioners in every dimension of international affairs: economics, finance, diplomatic history, politics, culture, law, and security. The challenges we face in this turbulent 21st century quite literally transcend borders – we must comprehend many disciplines to be ready to connect in every sense of the word.</p>
  </div>
</div>

<br></br>
<br></br>
<div class="sponsor">
  <div class="sponsor-image">
    <%= image_tag "sponsors/newengland.jpg", style: "height: 200px;" %>
    </div>
    <br></br>
    <div class="sponsor-description", style="padding-left: 20em;">
      <p> The New England Law academic program emphasizes extensive preparation in practical skills, including instruction in legal writing and clinical work. Founded in 1908 as Portia Law School, the only law school established exclusively for the education of women, our institution has been coeducational since 1938. New England Law is proud of the level of assistance that we offer to those planning to apply to a law school. </p>
    </div>
</div>

<br></br>
<br></br>

<div class="sponsor">
  <a href="http://7sage.com/"> <h3 style="padding-left: 90px; "> <strong>7Sage</strong> </h3> </a>
  <div class="sponsor-image">
    <%= image_tag "sponsors/7Sage.png", class: "seven-sage-logo", align: "left" %>
  </div>
  <br></br>
  <div class="sponsor-description", style="padding-left: 20em;">
    <p> 7Sage offers affordable LSAT review options for those looking to further their careers. The company focuses on enhancing student's LSAT logic reasoning skills while providing quality online preparation courses and logic games. 7Sage recently introduced an app that proctors LSAT prep tests and allows students to simulate the testing environment from any location. This simulation includes generated distraction noises, virtual timers, five-minute warnings, real instructions, and more! Not only has 7Sage created an app to assist students in preparing for the LSAT, but it also offers free resources that include logic game explanations, the LSAT test scorer, and LSAT prep tools. 7Sage is a valuable resource to utilize for online LSAT preparation. </p>
  </div>
</div>
<br></br>
<br></br>

<h3> Click <a href="/UCBMUN_XX_Sponsorship_Packet.pdf"> here </a> for detailed information!</h3>
