<p> <%= "University: #{@user.university}" %> </p>
<p> <%= "Delegates: #{@user.delegates_count}" %> </p>
<p> <%= "Name: #{@user.name}" %> </p>
<p> <%= "Email: #{@user.email}" %> </p>
<p> <%= "Phone: #{@user.phone}" %> </p>
<p> <%= "Address: #{@user.address} #{@user.city}, #{@user.state} #{@user.zip} #{@user.country}" %> </p>
<p> <%= "Date: #{Time.now.inspect}" %> </p>
