<div class="row" style="margin-bottom: 1em;">
  <div class="sec-row-four">
    <!-- <div class="col-md-1 sec-margin"></div> -->
    <% officers.each do |key, officer| %>
    <div class="col-md-3">
      <div class="full-sec-profile">
        <div class="profile-pic">
          <%= image_tag officer[:picture], class: "sec-profile" %>
        </div>
        <div class="sec-name" data-toggle="modal" data-target="#<%= key %>">
          <h4 style="margin-bottom: 0"><%= officer[:name] %></h4>
          <h5 style="margin-top: 0"><%= officer[:title] %></h5>
        </div>
        <!-- Large modal -->
        <div class="modal fade" id="<%=key%>" tabindex="-1" role="dialog" aria-labelledby="description-<%=key%>">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content sec-modal">
              <div class="sec-modal-profile" style="float: left;">
                <%= image_tag officer[:picture], class: "sec-modal-picture img-rounded" %>
              </div>
              <div class="sec-modal-info">
                <div class="modal-header" >
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h3 class="modal-title" id="description-<%=key%>"><%= officer[:name] %></h3>
                  <h4 class="modal-title" id="description-<%=key%>"><%= officer[:title] %></h4>
                </div>
                <div class="modal-body">
                  <p><%= officer[:bio] %></p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>
    <!-- <div class="col-md-1 sec-margin"></div> -->
  </div>
</div>
