<div class="committee-header">
  <h1><%= committee[:subtitle].nil? ? committee[:name] : "#{committee[:name]} #{committee[:subtitle]}" %></h1>
  <h4><%= committee[:type] %></h4>
</div>
<div class="committee-info col-md-9">
  <div class="committee-description">
    <p><%= committee[:description] %></p>
  </div>
  <div class="background-guide">
  </div>
</div>
<div class="col-md-1"></div>
<div class="committee-chairs col-md-2">
  <div class="chair">
    <div class="chair-pic">
      <!-- <%= image_tag "chairs/#{committee[:chair][:name]}", class: "chair-profile" %> -->
      <%= image_tag "no_photo_person.png", class: "chair-profile" %>
    </div>
    <div class="chair-info">
      <h4><strong>Chair</strong></h4>
      <h4><%= committee[:chair][:name] %></h4>
      <h5><%= committee[:chair][:email] %></h4>
    </div>
  </div>
  <% if !committee[:cd].nil? %>
  <div class="chair">
    <div class="chair-pic">
      <!-- <%= image_tag "chairs/#{committee[:cd][:name]}", class: "chair-profile" %> -->
      <%= image_tag "no_photo_person.png", class: "chair-profile" %>
    </div>
    <div class="chair-info">
      <h4><strong>Crisis Director</strong></h4>
      <h4><%= committee[:cd][:name] %></h4>
      <h5><%= committee[:cd][:email] %></h4>
    </div>
  </div>
  <% end %>
</div>
