<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>UC Berkeley Model United Nations Collegiate Conference</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description"
    content="UCBMUN XXI, the collegiate conference for UC Berkeley Model United Nations will be held from March 3rd to March 5th, 2017.
             Come join us in beautiful San Francisco, California at the Hilton Hotel in the Financial District. Registration is now open,
             and the early registration deadline is by November 30th. Register now!">
</head>
<body>
  <%= render 'layouts/header' %>
  <!-- <div class=<%=@container_type.nil? ? "container" : @container_type %>> -->
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <br></br>
    <br></br>
    <%= yield %>
    <% if !@container_type.nil? and @container_type != "home-page"%>
    <br></br>
    <% end %>
    <!--<%= debug(params) if Rails.env.development? %> -->
  <!-- </div> -->

  <!-- <%= render 'layouts/footer' %> -->
</body>
</html>
