<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>UCBMUN XXI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <!-- <div class=<%=@container_type.nil? ? "container" : @container_type %>> -->
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <br></br>
    <br></br>
    <%= yield %>
    <% if !@container_type.nil? and @container_type != "home-page"%>
    <br></br>
    <% end %>
    <!--<%= debug(params) if Rails.env.development? %> -->
  <!-- </div> -->

  <!-- <%= render 'layouts/footer' %> -->
</body>
</html>
