<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>UCBMUN XXI</title>
  <%= stylesheet_link_tag    'application' %>
  <!-- <%= stylesheet_link_tag    'jquery.fullPage.css' %>
  <%= stylesheet_link_tag    'style.css' %> -->
  <%= javascript_include_tag 'application' %>
  <!-- <%= javascript_include_tag 'scrolloverflow.min.js' %>
  <%= javascript_include_tag 'jquery.fullPage.js' %>
  <%= javascript_include_tag 'script' %> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <%= yield %>
</body>
</html>
