<%= image_tag @attraction.image, class: "map-item-image" %>
<div class="map-item-description">
  <h3 style="display:block;"> <%= @attraction.name %> </h3>
  <p> <%= @description %> </p>
  <% @attraction_info.each do |item_name, item_info| %>
    <p> <b> <%= "#{item_name}" %> </b> <%= item_info %> </p>
  <% end %>
</div>
